<h1>Wikinimous</h1>
<ul>
  <% @articles.each do |article| %>
  <li>
      <%= link_to article.title, article_path(article)  %>
      <br>
      <%= article.content %>
  </li>
  <br>
  <% end %>
</ul>

<p>➕ <%= link_to "New Article", new_article_path %></p>
